* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

.title {
    color: #7d06c2;
    font-size: 30px;
}

.center-menu {
    margin: 0 auto;
    padding: 0 2%;
    background: #7d06c2;
    padding-bottom: 5%;
}

.center-menu>h3 {
    font-size: 40px;
    color: white;
    font-size: 20px;
    padding-top: 1%;
}

.center-menu a {
    float: right;
    margin-top: 2%;
    color: white;
    margin-left: ;
    text-decoration: none;
    padding-left: 1%;
    font-size: 15px;
}

.center-menu a:hover {
    color: #070707;
}

.table-title {
    margin-top: 10%;
    color: #7d06c2;
    margin-left: 2%;
}

.funcionarios {
    list-style-type: none;
}